/* ESTILO ESPECIAL PARA TEMPLATE */
body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

#canvas {
	width: 50px;
}

#canvas2 {
  width: 50px;
}

.tablaConsulta {
	max-height: 150px;
	overflow: scroll;
}

.tablaConsulta2{
  max-height: 250px;
  overflow: scroll;
}